#root-notifications {
    margin: 0.5rem;
    border: 2px dotted #d92626;
    padding: 1.5%; 
    width: 30%;
    right: 10px;
    float: right;
    top: 20px;
}

li[type="default"] {
    color: blue;
  }
  
  li[type="urgent"] {
    color: red;
  }

  .menuItem {
    text-align: right;
  }